@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.radix-themes {
	--color-background: #e6e6e6;
	--color-foreground: #171717;
}

/* @media (prefers-color-scheme: dark) { //! fix this
	.radix-themes {
		--color-background: #0a0a0a;
		--color-foreground: #ededed;
	}
} */

body {
	font-family: Arial, Helvetica, sans-serif;
}
